[Unit]
Description=Monasca Log-Api
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ log_api_user }}
Group={{ monasca_group }}
LimitNOFILE=32768
Restart=on-failure
ExecStart={{ log_api_virtualenv_dir }}/bin/gunicorn -k eventlet --paste {{ log_api_ini_file }}

[Install]
WantedBy=multi-user.target
